- provide(:title, t('.title'))

.container-fluid
  .row
    = render "layouts/control_sidebar"
    %main.col-md-9.ml-sm-auto.col-lg-10.p-3{:role => "main"}
      - content_for :card_header do
        %h5
          = fa_icon "newspaper-o", text: t(controller_name + "." + action_name + '.title')
          = link_to prospecting_exp_form_path(@exp_form), :class => "button button-small  pull-right button-primary mr-1" do
            = fa_icon " chevron-left", text: "移交工程部", right: false 
          = link_to opening_exp_forms_path, :class => "button button-small  pull-right button-primary mr-1" do
            = fa_icon " chevron-left", text: Setting.systems.btn_back, right: false 
      - content_for :card_body do
        .container-fluid
          .row
            .col-md-8.offset-2
              .card-body
                .container-fluid
                  .row
                    .col-sm-12
                      %h2.text-center
                        = "山东公用水务集团客户供水报装申请表" 
                    .col-sm-6
                      %p.text-left
                        = "经办人："
                        = @exp_form.agtor
                    .col-sm-6
                      %p.text-right
                        = @exp_form.created_at.strftime('%Y 年 %m 月 %d 日')
                  .row
                    .col-sm-12
                      = render "exp_table"
                  -#
                    .row
                      .offset-10.col-sm-2
                        - if @ware_house.state == Setting.ware_houses.completed
                          %h2.text-success.text-center.border.border-success
                            已入库
                        - elsif @ware_house.state == Setting.ware_houses.canceled
                          %h2.text-danger.text-center.border.border-danger
                            已作废
                    
      = render "layouts/bootstrap/card"
